*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary)
}

:root{
    --font-primary: 'Open Sans', sans-serif;
    --light: #e8e9ea;
    --dark: #000000;
    --main-primary: #0162ff;
    --main-secondary: #b4d0e7;
    --light-green: #a2d39b;
    --bordeaux: #61082b;
    --light-blue: #0093ce;
    --light-red: #ff1c1c;
    --dark-red: #d5001f;
    --dark-blue: #0d2481;
    --yellow: #ffd830;
}
