* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary)
}

:root {
    --font-primary: 'Open Sans', sans-serif;
    --light: #e8e9ea;
    --lighter: #fff;
    --dark: #000000;
    --main-primary: #0162ff;
    --main-secondary: #b4d0e7;
    --light-green: #749e6e;
    --lighter-green: #a9e9a1;
    --bordeaux: #61082b;
    --light-blue: #0093ce;
    --light-red: #ff1c1c;
    --dark-red: #d5001f;
    --dark-blue: #0d2481;
    --yellow: #ffd830;
    --grey: #747479;
}

.flex {
    display: flex;
}

.container {
    max-width: 1152px;
    width: 75%;
    margin: auto;
}

.s-container {
    max-width: 1052px;
    width: 65%;
    margin: auto;

}

.card_container {
    width: 80%;
    margin: auto;
}

.card_maxi_container {
    width: 90%;
    margin: auto;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration: none;
    margin: 0 1.5rem;

}

.logo {
    height: 21.6px;
    width: auto;
}

.btn_blue {
    background-color: var(--main-primary);
    color: var(--light);
}

.btn_light {
    color: var(--dark);
    border: 1px solid var(--dark);
    background-color: var(--lighter);
}

.btn_small {
    padding: 0.25rem 1rem;
}

.btn_trial {
    width: 80%;
    padding: 0.5rem;
    text-align: center;
}

.btn_contact {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}

.btn_partner{
    width: 40%;
    padding: 0.5rem;
    text-align: center;
}

.btn_banner{
    width: 30%;
    padding: 0.5rem;
    text-align: center;
}

.fa-solid {
    margin-right: 0.5rem;
}

.fa-check {
    color: var(--main-primary);
}

/* #region header */

.navbar {
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light);
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 5px 0;
}

.left_menu>ul,
.right_menu>ul {
    justify-content: space-around;
    align-items: center;
}

.link_head {
    color: var(--dark);
}

.height750{
    height: 750px;
}

.height250{
    height: 250px;
}
/* #endregion header */

/* #region main */

#app-main {
    margin-top: 70px;
}

.bg_main_secondary {
    background-color: var(--main-secondary);
}

.container>h1 {
    font-size: 5rem;
    font-weight: bolder;
    padding: 4rem 0;
}

.main_top {
    color: var(--dark);
    height: 530px;
}

.jumbo_img {
    height: 90%;
}

.jumbo_text {
    flex-flow: column nowrap;
    gap: 3rem;
}

.plans {
    margin-top: 200px;
}

.s-container>h2 {
    font-size: 3rem;
    font-weight: bolder;
    padding: 4rem 0;
}

.plan_cards {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.plan_card {
    width: 32%;
    border: 1px solid var(--grey);
    min-height: 900px;
}

.plan_maxi_card {
    margin-top: 3rem;
    width: 100%;
    border: 1px solid var(--grey);
}

.card_maxi{
    margin-bottom: 2rem;
}

.card_maxi_left {
    width: 70%;
    margin: auto;
    flex-flow: column nowrap;
    gap: 1rem;
}

.card_maxi_right {
    width: 25%;
    margin: auto;
}

.plan_card_head {
    border-bottom: 1px solid var(--grey);
    text-align: center;
    padding: 1rem 0;
}

.card_info {
    max-height: 380px;
}

.plan_type {
    margin: 2rem 0 1rem 0;
}

.cost {
    font-weight: bolder;
    margin: 1rem 0;
}

.period {
    color: var(--grey);
    margin-bottom: 3rem;
}

.card_details {
    margin-bottom: 2rem;
    flex-flow: row nowrap;
}

.card_details>span {
    min-height: 44px;
}

.card_trial {
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 2rem;
}

.buynow {
    color: var(--main-primary);
}

.card_hr {
    width: 30%;
    color: var(--grey);
    margin: 2rem 0;
}

.recap_card {
    margin-bottom: 2rem;
}

.partners{
    justify-content: space-between;
    margin-bottom: 10rem;
}

.partners > img{
    width: 60%;
}

.partners_text{
    width: 35%;
    flex-direction: column;
    gap: 1.5rem;
}

.partners_text > img{
    width: 55%;
}

.operations{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.business_cards{
    justify-content: space-between;
    flex-flow: row wrap;
}

.business_card{
    width: 30%;
    flex-flow: column wrap;
}

.business_card_img > img{
    width: 100%;
}

.business_card_text{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.business_card_text > h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.our_clients{
    margin-bottom: 8rem;
}

.our_clients > h2{
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.low_banner{
    justify-content: space-between;
    align-items: center;
}

.low_banner > h2{
    width: 70%;
    font-size: 3rem;
    margin-right: 2rem;
    color: var(--bordeaux);
}

.team_card{
    width: calc(100% / 2);
    height: 250px;
}
.team{
    width: calc(100% / 3);
    flex-wrap: wrap;
}

.center_team{
    width: calc(100% / 3);
    flex-flow: wrap column;
    margin: 4rem;
    align-items: flex-start;
}

.center_team > img{
    width: 50%;
}

.center_team > h4{
    margin-top: 4rem;
}

.team_card > img{
    width: 50%;
    text-align: center;
    filter: invert(1);
}

.designit{
    background-color: var(--light-green);
    box-shadow:0px 0px 0px 10px var(--lighter-green) inset;
    align-items: center;
    justify-content: center;
}

.asu{
    background-color: var(--bordeaux);
    align-items: center;
    justify-content: center;
}

.uf{
    background-color: var(--light-blue);
    align-items: center;
    justify-content: center;
}

.topps{
    background-color: var(--light-red);
    align-items: center;
    justify-content: center;
}

.wbr{
    background-color: var(--dark-red);
    align-items: center;
    justify-content: center;
}

.hearst{
    background-color: var(--main-secondary);
    align-items: center;
    justify-content: center;
}

.lp{
    background-color: var(--dark-blue);
    align-items: center;
    justify-content: center;
}

.cco{
    background-color: var(--yellow);
    align-items: center;
    justify-content: center;
}
/* #endregion main */

/* #region footer */

/* #endregion footer */